* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: Arial, sans-serif;
}

.header {
    background-color: violet;
    height: 100px;
    width: 100%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 10px;
    text-align: center;
}

.container {
    display: flex;
    padding: 10px;
    gap: 10px;
    width: 100%;
}

.main {
    background-color: silver;
    height: 400px;
    width: 500%;  
    margin-bottom: 10px;
    border-radius: 10px;
}

.imagen {
    background-color: #627e9b; 
    height: 150px;
    width: 100px; 
    max-width: 900px; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 10px 0;
}

.imgGM4 {
    height: 150px;
    width: 100px;
    border-radius: 10px;
    object-fit: cover;
}

.footer {
    background-color: purple;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
}